.dc-header-btn{
    width: 62px;
    height: 62px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.6rem;
    display: flex;
	align-items: center;
	justify-content: center;
    transition: transform 0.3s ease-in-out;
    border:none;
}

.dc-header-btn:hover {
	transform: rotate(360deg);
}

.img-logo{
  max-height:120px;
}

.dc-header-desktop{
    display:block;
}

.dc-header-mobile{
    display:none;
}
